[
    {
        "sentence": "ハロー",
        "kana": "はろー"
    },
    {
        "sentence": "ワールド",
        "kana": "わーるど"
    },
    {
        "sentence": "ロレム",
        "kana": "ろれむ"
    },
    {
        "sentence": "イプサム",
        "kana": "いぷさむ"
    },
    {
        "sentence": "ロレム　イプサム",
        "kana": "ろれむいぷさむ"
    }
]
