/**
 * ローマ字入力のパターンを定義する記入例です。
 * このコピーを作成して「romaPatterns.js」と命名してください。
 */
export default class romaPatterns {

  /**
   * ここにひらがなと対応するローマ字パターンを記入してください。
   * ２パターン以上になるひらがなは、「ぁ」のように要素をカンマで区切って追加し、
   * defaultPatternsにも追記してください。
   * また、「ゐ」や「ゑ」のような常用外のひらがなを対応させる場合もここに記入してください。
   * 「しゃ」のように、２文字以上のパターンを定義することも可能です。
   *
   * @see defaultPattens
   */
  static patternDictionary = {
    "あ": ["a"],
    "ぁ": ["la", "xa"],
    "い": ["i"],
    "ぃ": ["li", "xi"],
    "ぅ": ["lu", "xu"],
    "う": ["u"],
    "ヴ": ["vu"],
    "え": ["e"],
    "ぇ": ["le", "xe"],
    "ぉ": ["lo", "xo"],
    "お": ["o"],
    "か": ["ka"],
    "が": ["ga"],
    "ぎ": ["gi"],
    "き": ["ki"],
    "く": ["ku"],
    "ぐ": ["gu"],
    "げ": ["ge"],
    "け": ["ke"],
    "ヶ": ["lke", "xke"],
    "こ": ["ko"],
    "ご": ["go"],
    "さ": ["sa"],
    "ざ": ["za"],
    "し": ["si"],
    "じ": ["ji"],
    "す": ["su"],
    "ず": ["zu"],
    "せ": ["se"],
    "ぜ": ["ze"],
    "そ": ["so"],
    "ぞ": ["zo"],
    "だ": ["da"],
    "た": ["ta"],
    "ち": ["ti"],
    "ぢ": ["di"],
    "づ": ["du"],
    "っ": ["ltu", "xtu"],
    "つ": ["tu"],
    "で": ["de"],
    "て": ["te"],
    "ど": ["do"],
    "と": ["to"],
    "な": ["na"],
    "に": ["ni"],
    "ぬ": ["nu"],
    "ね": ["ne"],
    "の": ["no"],
    "ば": ["ba"],
    "は": ["ha"],
    "ぱ": ["pa"],
    "び": ["bi"],
    "ひ": ["hi"],
    "ぴ": ["pi"],
    "ぶ": ["bu"],
    "ふ": ["fu"],
    "ぷ": ["pu"],
    "べ": ["be"],
    "へ": ["he"],
    "ぺ": ["pe"],
    "ぼ": ["bo"],
    "ほ": ["ho"],
    "ぽ": ["po"],
    "ま": ["ma"],
    "み": ["mi"],
    "む": ["mu"],
    "め": ["me"],
    "も": ["mo"],
    "ゃ": ["lya", "xya"],
    "や": ["ya"],
    "ゅ": ["lyu", "xyu"],
    "ゆ": ["yu"],
    "ょ": ["lyo", "xyo"],
    "よ": ["yo"],
    "ら": ["ra"],
    "り": ["ri"],
    "る": ["ru"],
    "れ": ["re"],
    "ろ": ["ro"],
    "ゎ": ["lwa", "xwa"],
    "わ": ["wa"],
    "を": ["wo"],
    "ん": ["nn", "xn"],
  };

  /**
   * patternDictionaryに定義されている複数パターンのうちの初期値を設定します。
   * 例えば、「ぁ」のパターンは「la」と「xa」がありますが、使用する方を記入してください。
   * この例の場合は、「ぁ」に対して「la」や「xa」と打つこともできますが、
   * 出題される場合は「la」と表示されます。
   * また、２つ以上パターンが存在する要素はすべてここに記入する必要があります。
   *
   * @see patternDictionary
   */
  static defaultPattens = {
    "ぁ": ["la"],
    "ぃ": ["li"],
    "ぅ": ["lu"],
    "ぇ": ["le"],
    "ぉ": ["lo"],
    "ヶ": ["lke"],
    "っ": ["ltu"],
    "ゃ": ["lya"],
    "ゅ": ["lyu"],
    "ょ": ["lyo"],
    "ゎ": ["lwa"],
    "ん": ["nn"]
  };
}
